<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/7_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 튜플(Tuple)

* 리스트와 비슷하지만, 리스트는 []로 튜플은 ()로
* 수정/삭제가 불가능

In [1]:
tu1 = ()            # create tuple
tu2 = (1, 3, 5, 7)
tu3 = 1, 3, 5, 7
print(type(tu2))
print(type(tu3))

<class 'tuple'>
<class 'tuple'>

In [2]:
tu4 = ('apple', 'banana', ('김사과', '반하나'))
tu5 = ('apple', 'banana', ['apple', 'banana'])
print(tu4)
print(tu5)

('apple', 'banana', ('김사과', '반하나'))
('apple', 'banana', ['apple', 'banana'])

# 2. 튜플의 수정 및 삭제
* 파이썬 메모리 stack에 저장된 참조변수의 경우 수정/삭제가 가능하다.
* 파이썬 메모리 heap에 저장된 Tuple의 경우 수정/삭제가 불가능하다.

In [5]:
tu6 = (1, 2, 'apple', 'banana')
# tu6[3] = 'orange'     # TypeError: 'tuple' object does not support item assignment
del tu6

* 튜플 내의 리스트내의 데이터는 수정/삭제가 가능하다.

In [6]:
tu5[2][0] = 'corn'
print(tu5)

('apple', 'banana', ['corn', 'banana'])

In [7]:
tu7 = (1, 2, 'apple', 'banana')
tu7 = [1, 2, 'apple', 'banana']
print(tu7)

[1, 2, 'apple', 'banana']

# 3. 튜플의 인덱싱과 슬라이싱 연산
* 리스트와 같다

In [8]:
tu8 = (1, 2, 'apple', 'banana')

# indexing
print(tu8[0])
print(tu8[-1])
# slicing
print(tu8[1:])
print(tu8[1:3])
# add(conect)
tu9 = (30, 40)
print(tu8 + tu9)
# multiple(repeat)
print(tu8 * 3)
# count Data
print(len(tu8))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana')
4

In [9]:
tu11 = (1, 3, 2, 0)
tu12 = sorted(tu11) # sorted() -> Built-in Function
print(tu12)

[0, 1, 2, 3]