<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/7_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 튜플(Tuple)

* 리스트와 비슷하지만, 리스트는 [ ]로 자료로 감싸고, 튜플은 ( )로 감쌈
* 수정, 삭제가 불가능

In [ ]:
tu1 = ()
print(tu1)
# tu1[0] = 10   # TypeError: 'tuple' object does not support item assignment

tu2 = (1, 3, 5, 7)
print(tu2)

tu3 = 1, 3, 5, 7
print(tu3)

tu4 = ('apple', 'banana', ('🍓', '🍑'))
print(tu4)
print(type(tu4))

tu5 = ('apple', 'banana', ['🍓', '🍑']) # 큐플 안에 리스트를 넣을 수 있다.
print(tu5)
print(type(tu5))

()
(1, 3, 5, 7)
(1, 3, 5, 7)
('apple', 'banana', ('🍓', '🍑'))
<class 'tuple'>
('apple', 'banana', ['🍓', '🍑'])
<class 'tuple'>

# 2. 튜플의 수정 및 삭제

In [ ]:
tu6 = (1, 2, 'apple', 'banana')
print(tu6)

# tu6[3] = 'orange'   # TypeError: 'tuple' object does not support item assignment
# del tu6[3]  # TypeError: 'tuple' object doesn't support item deletion
del tu6     # tu6이라는 참조변수를 삭제함
'''
메모리
tu6 -> steak
tu6.data -> heap
heap에 있는 tuple데이터는 지울 수  없다.
steak에 있는 참조변수는 지울 수 있다. -> heap에 떠돌이가 된 데이터가 자동으로 삭제됨.
 -> tuple안에 있는 데이터가 tuple형이므로 바꿀수가 없는 것이다.
'''

(1, 2, 'apple', 'banana')

'\n메모리\ntu6 -> steak\ntu6.data -> heap\nheap에 있는 tuple데이터는 지울 수  없다.\nsteak에 있는 참조변수는 지울 수 있다. -> heap에 떠돌이가 된 데이터가 자동으로 삭제됨.\n -> tuple안에 있는 데이터가 tuple형이므로 바꿀수가 없는 것이다.\n'

In [ ]:
tu5[2][0] = '🌽'    # 튜플 안에 있는 리스트는 견경이 가능하다.
print(tu5)

('apple', 'banana', ['🌽', '🍑'])

In [ ]:
tu7 = (1, 2, 'apple', 'banana')
tu7 = [1, 2, 'apple', 'banana']
# tu7은 튜플을 가리키고 있는 참조변수일 뿐!! 튜플이 아니다!!!
# tu7을 리스트를 가리키도록 바꿔준 것! (참조변수가 가리키는 위치가 바뀐 것이다.)

print(tu7)

[1, 2, 'apple', 'banana']

# 3. 튜플의 인덱싱과 슬라이싱 연산

In [ ]:
# 리스트와 같다!
tu8 = (1, 2, 'apple', 'banana')

# 인덱싱
print(tu8[0])
print(tu8[-1])

# 슬라이싱
print(tu8[1:])
print(tu8[1:3])

# 덧셈(연결)
tu9 = (30, 40)
print(tu8 + tu9)

# 곱셈(반복)
print(tu8 * 3)

# 요소의 갯수
print(len(tu8))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana', 1, 2, 'apple', 'banana')
4

In [ ]:
tu10 = (1, 2, 3, [1, 2, 3])
tu10[3][0] = 100
print(tu10)

(1, 2, 3, [100, 2, 3])

In [ ]:
tu11 = (1, 3, 2, 0)
tu12 = sorted(tu11)     # 순서를 바꾼 뒤 새로운 변수에 저장을 한다. // 파이썬 내장 함수
# sorted() : 튜플이나 리스트의 요소를 꺼낸 뒤 새로운 변수에 넣는다.
tu12    # tuple에는 sort()가 없다. //

[0, 1, 2, 3]

In [ ]:
# tu11.sort() # AttributeError: 'tuple' object has no attribute 'sort'
li11 = [1, 3, 2, 0]
li11.sort()     # 순서를 바꾼 뒤에 자신의 변수에 저장을 한다.
print(li11)

[0, 1, 2, 3]