<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/9_%EC%A0%9C%EC%96%B4%EB%AC%B8(%EB%B0%98%EB%B3%B5%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문

* 코드를 짧고 간결하게 작성하면서 빠른 속도를 이끌어낼 수 있는 효율적인 문법

### 1-1. 대입 연산자
* =, +=, -=, *=, /=, %=
* 왼쪽에 저장된 값과 오른쪽에 값을 연산한 뒤 다시 왼쪽에 대입

In [ ]:
num = 10
num += 1    # num = num + 1
print(num)

num -= 1    # num = num - 1
print(num)

num *= 10   # num = num * 10
print(num)

num /= 10   # num = num / 10
print(num)

num %= 2    # num = num % 2
print(num)

11
10
100
10.0
0.0

### 1-2. while 문

```
while 조건식:
    조건식이 True인 동안 반복할 문장
```

In [ ]:
# 무한 루프
# while True:
    # print('Hello Python')

In [ ]:
i = 1
while i <= 5:
    print('Hello Python')
    i += 1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [ ]:
print('현재 i의 값: {}'.format(i))

현재 i의 값: 6

In [ ]:
# 1 ~ 10까지의 합
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print('1부터 10까지의 합: {}'.format(sum))

1부터 10까지의 합: 55

In [ ]:
# 1 ~ 100까지의 합
i = 1
sum = 0 
while i <= 100:
    sum += i
    i += 1
print('1부터 100까지의 합: {}'.format(sum))

1부터 100까지의 합: 5050

### 문제
input함수로 원하는 단을 입력받아 구구단을 출력하는 프로그램을 작성하자

In [ ]:
dan = int(input('원하는 단을 입력하세요: '))
print('{}단'.format(dan))

i = 1
while i <= 9:
    print('{} * {} = {}'.format(dan, i, dan * i))
    i += 1

원하는 단을 입력하세요: 7
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 1-3. for문
* for문과 while문 중 상황에 따라 편한 반복문을 사용해라
* 효율이 같다

```
for 변수 i range(범위):
    반복할 문장
```

* range(): 범위를 생성하는 함수
    * range(시작인덱스, 종료인덱스(직전), 증가값)

In [ ]:
num = range(0, 10, 1)   # 0부터 9까지 1씩 증가하는 객체를 num이라는 변수에 저장한다.
print(num)  # num은 객체

range(0, 10)

In [ ]:
for i in range(0, 10, 1):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10):     # 시작인덱스: 0(default), 종료인덱스: 10, 증가값: 1(default)
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(0, 10):  # 시작인덱스: 0, 종료인덱스: 10, 증가값: 1(default)
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

### 문제
위 for문을 이용하여 1 ~ 100까지 짝수의 총합을 구하는 프로그램을 작성해보자.

In [ ]:
sum = 0

for i in range(1, 101):
    if i % 2 == 0:
        sum += i
print('1부터 100까지의 짝수 총합: {}'.format(sum))

1부터 100까지의 짝수 총합: 2550

# 2. list를 for문과 함께 사용하기

In [ ]:
li = ['apple', 'banana', 'orange', 'melon']

for i in li:
    print(i, end=' ')

apple banana orange melon

In [ ]:
tu = ('apple', 'banana', 'orange', 'melon')

for i in tu:
    print(i, end=' ')

apple banana orange melon

### 문제
score리스트에 저장된 점수가 60점 이상인 학생이 몇명인지 알아보는 프로그램을 작성해보자

In [ ]:
score = [90, 30, 50, 60, 80, 70, 100, 40, 20, 10]
count = 0

for i in score:
    if i >= 60:
        count += 1
print('60점 이상인 학생의 수는 총 {}명입니다.'.format(count))

60점 이상인 학생의 수는 총 5명입니다.

# 3. 다중 반복문

* 이중반복문의 동작을 이해하는 것이 가장 중요하다. -> 이후 다중 반복문의 이해에 활용
* AI에서 중첩 for문은 굉장히 많이 사용된다.

In [ ]:
for i in range(1, 4):
    print('현재 i: {}'.format(i))
    for j in range(1, 4):
        print('👌 현재 j: {}'.format(j))

현재 i: 1
👌 현재 j: 1
👌 현재 j: 2
👌 현재 j: 3
현재 i: 2
👌 현재 j: 1
👌 현재 j: 2
👌 현재 j: 3
현재 i: 3
👌 현재 j: 1
👌 현재 j: 2
👌 현재 j: 3

### 문제
'👻'를 이용하여 아래와 같은 도형을 만들어보자.  
👻 👻 👻 👻 👻  
👻 👻 👻 👻 👻  
👻 👻 👻 👻 👻  
👻 👻 👻 👻 👻  
👻 👻 👻 👻 👻

In [ ]:
for i in range(5):
    for j in range(5):
        print('👻', end=' ')
    print()

👻 👻 👻 👻 👻
👻 👻 👻 👻 👻
👻 👻 👻 👻 👻
👻 👻 👻 👻 👻
👻 👻 👻 👻 👻

👻 👻 👻 👻 👻  
👻 👻 👻 👻  
👻 👻 👻  
👻 👻  
👻

In [ ]:
for i in range(5):
    for j in range(i, 5):
        print('👻', end=' ')
    print()
# i: 0 -> 5바퀴   range(0, 5)
# i: 1 -> 4바퀴   range(1, 5)
# i: 2 -> 3바퀴   range(2, 5)
# i: 3 -> 2바퀴   range(3, 5)
# i: 4 -> 1바퀴   range(4, 5)

👻 👻 👻 👻 👻
👻 👻 👻 👻
👻 👻 👻
👻 👻
👻

👻   
👻 👻   
👻 👻 👻   
👻 👻 👻 👻   
👻 👻 👻 👻 👻

In [ ]:
for i in range(5):
    for j in range(i+1):
        print('👻', end=' ')
    print()
# i: 0 -> 1바퀴   range(0, 1)
# i: 1 -> 2바퀴   range(0, 2)
# i: 2 -> 3바퀴   range(0, 3)
# i: 3 -> 4바퀴   range(0, 4)
# i: 4 -> 5바퀴   range(0, 5)

👻
👻 👻
👻 👻 👻
👻 👻 👻 👻
👻 👻 👻 👻 👻

### 문제
2단부터 9단까지 구구단을 출력하는 프로그램을 작성해보자. (for문)

In [5]:
for i in range(2, 10):
    print('{}단'.format(i))
    for j in range(10):
        print('{} * {} = {}'.format(i, j, i*j))
    print()

2단
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 문제
2단부터 9단까지 구구단을 출력하는 프로그램을 작성해보자. (while문)

In [7]:
i = 2
j = 1

while i <= 9:
    print('{}단'.format(i))
    while j <= 9:
        print('{} * {} = {}'.format(i, j, i*j))
        j+=1
    j = 1
    i+=1
    print()

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81