<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/11_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Set

* 수학의 집합과 비슷한 형태로 순서가 없기 때문에 어떤 값이 먼저 나올 지 알 수 없고, 중복되는 데이터를 허용하지 않음
* 딕셔너리처럼 중괄호를 사용해서 선언하지만 key는 존재하지 않고 value만 존재

### 1-1. set만들기

In [ ]:
# set 선언
s1 = {1, 3, 5, 7}
print(s1)

s2 = set([1, 3, 5, 7])
print(s2)

s3 = {1, 3, 3, 5, 7, 5, 3, 9}   # 중복이 안됨
print(s3)

{1, 3, 5, 7}
{1, 3, 5, 7}
{1, 3, 5, 7, 9}

In [ ]:
print(2 in s3)
print(5 in s3)
print(3 not in s3)

False
True
False

### 1-2. set 함수
* add(): set에 단일 데이터를 추가 (한개씩만)
* update(): set에 여러 데이터를 한번에 추가
* remove(): set의 데이터를 제거, 제거할 데이터가 없으면 에러
* discard(): set에 데이터를 제거, 제거할 데이터가 없어도 에러가 발생하지 않는다.
* copy(): set을 복사

In [ ]:
# add()
s1 = {100, 200}
s1.add(50)  # 순서가 정해져있지 않으므로 순서가 일정하지 않음
print(s1)

{200, 50, 100}

In [ ]:
# update()
s2 = {10, 20, 30}
s2.update([40, 50, 60, 20]) # 여러 개의 데이터를 추가 (여러 데이터를 묶을 때는 리스트형태!)
print(s2)

{40, 10, 50, 20, 60, 30}

In [ ]:
# remove()
s2.remove(50)
print(s2)
# s2.remove(50) # KeyError: 50

{40, 10, 20, 60, 30}

In [ ]:
# discard()
s2.discard(20)
print(s2)
s2.discard(20)  # Non-Error

{40, 10, 60, 30}

In [ ]:
# copy()
s3 = {10, 20, 30}
s4 = s3.copy()  # s4 = s3와의 차이 -> 메모리 관점에서 생각하도록!
print(s4)
print(s3)

{10, 20, 30}
{10, 20, 30}

### 1-3. set 연산자
```
 | : 합집합
 & : 교집합
 - : 차집합
 ^ : 대칭차집합
```

In [ ]:
# 합집합
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}
result = s1 | s2
print(result)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
# 교집합
result = s1 & s2
print(result)

{40, 50, 30}

In [ ]:
# 차집합
result = s1 - s2
print(result)

{10, 20}

In [ ]:
# 대칭차집합
result = s1 ^ s2
print(result)

{20, 70, 10, 60}