<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/13_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 람다 함수

* 단일문(한줄)으로 표기되는 익명함수
* 코드상에서 한번만 사용하는 기능이 있을 때, 굳이 함수로 만들지 않고 일회성으로 만들어 사용
* 함수 또한 클래스를 통해 생성된 객체
* return 형

In [ ]:
def square(x):
    return x ** 2

In [ ]:
print(square(4))

16

In [ ]:
# 자주 사용하지 않기 위해 (메모리의 공간절약)
lambda x: x ** 2

In [ ]:
square = lambda x : x ** 2

In [ ]:
print(square(4))

16

In [ ]:
(lambda x: x ** 2)(4)

16

In [ ]:
def myData(str):
    return len(str.strip())

In [ ]:
print(myData('     apple     '))

5

In [ ]:
data = ['watermelon     ', '     apple', '   banana   ', '     melon123']

In [ ]:
print(sorted(data))

['     apple', '     melon123', '   banana   ', 'watermelon     ']

In [ ]:
print(sorted(data, key=myData))

['     apple', '   banana   ', '     melon123', 'watermelon     ']

In [ ]:
print(sorted(data, key=lambda str: len(str.strip())))

['     apple', '   banana   ', '     melon123', 'watermelon     ']

# 2. filter 함수

* 람다가 유용하게 사용되는 대표적인 함수
* 특정 조건을 만족하는 요소만 남기고 필터링 시킴

In [ ]:
num = [1, 2, 3, 4, 6, 9, 10, 14, 15, 18, 20]

num = list(filter(lambda n: n%2==0, num))   # filter(함수(조건), 자료)
print(num)

[2, 4, 6, 10, 14, 18, 20]

# map 함수

* 각 원소를 주어진 수식에 따라 변형하여 새로운 값을 반환

In [ ]:
num = [1, 2, 3, 4, 6, 9, 10, 14, 15, 18, 20]

per = list(map(lambda n: n*0.01, num))
print(per)

[0.01, 0.02, 0.03, 0.04, 0.06, 0.09, 0.1, 0.14, 0.15, 0.18, 0.2]