<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/20_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%99%9C%EC%9A%A9_%EB%AC%B8%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 조건부 표현식

In [1]:
age = 20
result = ""

if age > 19:
    result = "성인입니다"
else:
    result = "미성년입니다"

```
조건문이 참인경우 if 조건문 else 조건문이 거짓인 경우
```

In [9]:
age = 20
result = ''
result = '성인입니다' if age > 19 else '미성년입니다'

# 2. enumerate()

* 인덱스와 요소를 함께 출력해주는 함수

In [10]:
list1 = [1, 2, 3, 4]
for i, e in enumerate(list1):
    print(i, e)

0 1
1 2
2 3
3 4

In [12]:
for i , e in enumerate(list1, 10):  # 10은 인덱스의 시작값
    print(i, e)

10 1
11 2
12 3
13 4

# 3. zip()

* 두 리스트의 요소의 갯수가 같은 두 리스트를 같이 출력해준다
* 두 리스트의 요소의 갯구가 다른 경우 길이가 작은 리스트의 갯수만큼 출력해준다

In [13]:
list1 = [1, 2, 3, 4]
list2 = [2, 3, 4, 5]
for i, j in zip(list1, list2):
    print(i, j)

1 2
2 3
3 4
4 5

In [14]:
list3 = [3, 4, 5]
for i, j in zip(list1, list3):
    print(i, j)

1 3
2 4
3 5

# 4. for문 한줄 표현식

In [16]:
list1 = [1, 2, 3, 4]
for i in list1: print(i)

1
2
3
4

In [17]:
[i for i in list1]

[1, 2, 3, 4]

In [18]:
[i for i in list2 if i > 2]

[3, 4, 5]

# 5. for문의 역리스트 만들기

In [19]:
list2[::-1]

[5, 4, 3, 2]

In [20]:
list1 = [1, 2, 3, 4]
for e in reversed(list1):
    print(e)

4
3
2
1

In [22]:
for i in list1[::-1]:
    print(i)

4
3
2
1