<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/2_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. print 함수

* 매개변수로 지정된 데이터를 출력하고 줄을 변경

In [ ]:
print('안녕하세요 파이썬')
print(10)       # 숫자 10
# print(안녕하세요 파이썬)      SyntaxError: invalid Syntax
print('10')     # 문자 10

안녕하세요 파이썬
10
10

In [ ]:
# 한 줄 주석문
'''
여기는 여러줄을 주석으로 처리합니다.
따라서 프로그램에 영향을 주지 않습니다.
'''
print('파이썬 출력하기') # 문자열 출력은 따옴표를 사용함 '' 또는 ""

파이썬 출력하기

In [ ]:
print('Hello', 'Python')
print('Hello', 'Python', 'Hi', 'Python')
print('Hello', end='') # end: print 출력 후 어떻게 처리할 지 여부에 대한 옵션
print('Python')
print('Hello', end=' ')
print('Python')
print('Hello', end='🍑')
print('Python')

Hello Python
Hello Python Hi Python
HelloPython
Hello Python
Hello🍑Python

In [ ]:
# print 내부 연산
print(10  + 5)  # 덧셈
print(10 - 5)   # 뺄셈
print(10 * 5)   # 곱셈
print(10 / 5)   # 나눗셈
print(10 % 3)   # 나머지
print('10 + 5')
# print('10' + 5)   숫자와 문자의 연산을 할 수 없다. TypeError: can only concatenate str (not "int") to str
# 파이썬은 interpreter언어 이므로 2~7까지는 출력이 되고 8번째 라인에서 Error가 발생한다.

15
5
50
2.0
1
10 + 5

In [ ]:
# 곱하기의 경우 문자열을 여러번 출력해주는 것
print('🍑' * 30)

🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑🍑

# 2. 출력 서식 지정하기

1. %d(decimal : 정수), %f(float : 실수), %s(strint : 문자열)를 사용하여 출력 서식을 지정
2. 서식을 제외한 문자는 입력한 그대로 출력이 됨.
3. 서식을 지정해 출력할 데이터가 2개 이상인 경우 (소괄호)로 데이터를 묶어야 함.

In [ ]:
print('숫자 : 100')
print('숫자 : %d' % 100)    # %d는 뒤에 나오는 % 뒤의 정수를 받아온다.
print('숫자 : %d' % 100.5)  # decimal를 받아야 하기 때문에 소수점을 잘라버린다.
print('실수 : %f' % 100.5)  # float는 소숫점 6번째자리까지 출력한다.

숫자 : 100
숫자 : 100
숫자 : 100
실수 : 100.500000

In [ ]:
print('문자열 : %s' % 'Python')
print('문자열 : %s' % 100)  # 정수를 입력해도 문자열로 바꾼 뒤에 출력해준다.

문자열 : Python
문자열 : 100

In [ ]:
# 서식이 2개 이상인 경우
print('5 + 3 = 8')
print('%d + %d = %d' % (5, 3, 5+3))     # 데이터가 2개 이상인 경우 소괄호()로 묶어줄 것!

5 + 3 = 8
5 + 3 = 8

In [ ]:
print('%5d' % 100)  # 출력 범위를 5칸으로 지정
print('%5d' % 10000)
print('%5d' % 100000)   # 5자리를 넘으면 의미가 없어짐
print('%05d' % 100)     # 빈 칸에 0을 채워준다.

  100
10000
100000
00100

In [ ]:
print('%6.2f' % 123.45)   # 앞의 6은 총 숫자의 개수(자릿 수 .포함) 뒤의 .2는 소숫점 2번째까지 출력
print('%6.2f' % 123.4567)   # 반올림이 된다.
print('%6.2f' % 123.4)      # 남은 자리는 0으로 채운다.

123.45
123.46
123.40

In [ ]:
print('%5s' % 'abc')    # %5d와 동일

  abc

In [ ]:
# 5 / 3 = ?
print('%d / %d = %d' % (5, 3, 5/3))     # 실수를 정수형으로 출력
print('%d / %d = %f' % (5, 3, 5/3))
print('%d / %d = %4.2f' % (5, 3, 5/3))

5 / 3 = 1
5 / 3 = 1.666667
5 / 3 = 1.67

# 3. format 함수와 출력 인덱스 사용

In [ ]:
# 인덱스 : 0부터 순서대로 진행되는 정수
print('{0} {1}'.format('김사과', '반하나'))       # 전체 문자에다 format을 적용해준다.
# format에 들어간 첫번째 문자열은 인덱스가 0 두번재는 인덱스가 1
print('{1} {0}'.format('김사과', '반하나'))

김사과 반하나
반하나 김사과

In [ ]:
print('{0:3s}님은 {1:03d}살입니다.'.format('김사과', 20))

김사과님은 020살입니다.