<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료구조(Data Structure)란?
* 자료(Data)의 집합체
* 자료를 효율적으로 저장, 조직, 관리하는 것

# 1. 리스트(list)

* 여러가지 데이터타입의 데이터를 ,(콤마)로 구분하여 []로 감싼 자료구조

In [1]:
# 리스트의 2가지 호출 방식
li1 = [1, 3, 5, 7, 9]
print(li1)

li2 = list([1, 3, 5, 7, 9])
print(li2)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [2]:
# 여러가지 데이터 타입을 저장
li4 = [1, 1.5, '김사과', True]
print(li4)

li5 = [1, 2, '파이썬', ['김사과', '오렌지']]
print(li5)

[1, 1.5, '김사과', True]
[1, 2, '파이썬', ['김사과', '오렌지']]

# 2. 리스트 인덱싱

In [4]:
li1 = [1, 3, 5, 7, 9]
print(li1[0])
print(li1[1])
print(li1[-1])
print(li1[0] + li1[-1])

1
3
9
10

In [6]:
li2 = ['김사과', '오렌지', '반하나', ['Apple', 'Orange', 'Banana']] # 2Dimention Array
print(li2[2])
print(li2[-1])
print(li2[-1][-1])

반하나
['Apple', 'Orange', 'Banana']
Banana

In [7]:
li3 = [1, 3, 5, ['김사과', '오렌지', '반하나', ['Apple', 'Orange', 'Banana']]]  # 3Dimention Array
print(li3[2])
print(li3[-2])
print(li3[-1][-2])
print(li3[-1][-1][-1])

5
5
반하나
Banana

# 3. 리스트 슬라이싱

In [10]:
li4 = [10, 20, 30, 40, 50]
print(li4)
print(type(li4))
print(li4[0:3])

li6 = [10, 20, 30, ['김사과', '오렌지', '반하나'], 40, ['Car', 'Bus']]
print(li6[2:6])
print(li6[5][:2])

[10, 20, 30, 40, 50]
<class 'list'>
[10, 20, 30]
[30, ['김사과', '오렌지', '반하나'], 40, ['Car', 'Bus']]
['Car', 'Bus']

# 4. 리스트 연산자

In [12]:
li7 = [10, 20, 30]
li8 = [40, 50, 60]
print(li7 + li8)
print(li8 + li7)
print(li7 * 3)

[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

# 5. 리스트의 수정/삭제

In [13]:
li10 = [10, 20, 30]
li10[1] = 100
print(li10)

li10[1:2] = ['Sad', 'Laugh', 'Bad']
print(li10)

li10 = [10, 20, 30]
li10[1] = ['Sad', 'Laugh', 'Bad']
print(li10)

li10[1:3] = []
print(li10)

del li10[0]
print(li10)

[10, 100, 30]
[10, 'Sad', 'Laugh', 'Bad', 30]
[10, ['Sad', 'Laugh', 'Bad'], 30]
[10]
[]

# 리스트 함수

* class list에 저장된 여러가지 기능
---

```
# append(): 리스트 마지막 자리에 데이터를 추가
# pop(): 리스트의 마지막에 저장된 데이터를 반환하고 해당 데이터를 삭제
# remove(): 매개변수로 전달된 데이터를 제거. 같은 데이터가 여러개 있는 경우 처음 출현하는 데이터 제거 (없으면 Error)
# insert(): 리스트의 특정 위치(index)에 데이터를 삽입
# index(): 리스트에 저장된 데이터가 있을 경우 위치를 인덱스로 반환 (없으면 Error)
# reverse(): 리스트에 저장된 데이터를 반대 순서로 반환
# sort(): 리스트에 저장된 데이터를 오름차순으로 정렬 (sort(reverse = True) -> 내림차순)
# count(): 리스트에 포함된 특정 데이터의 갯수를 반환
# extend(): 리스트를 더함
```

In [14]:
li11 = [10, 20, 30]
li11.append(100)
print(li11)
li11.append([40, 50])
print(li11)

[10, 20, 30, 100]
[10, 20, 30, 100, [40, 50]]

In [15]:
li12 = [10, 20, 30, 40, 50]
print(li12)
li12.pop()
print(li12)
temp = li12.pop()
print(li12)
print(temp)

[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 20, 30]
40

In [16]:
li13 = [10, 20, 30, 40, 50, 20, 40]
li13.remove(20)
print(li13)
li13.remove(20)
print(li13)
li13.remove(20)

[10, 30, 40, 50, 20, 40]
[10, 30, 40, 50, 40]

ValueError: ignored

In [17]:
li14 = [10, 20, 30]
li14.insert(1, 40)
print(li14)

[10, 40, 20, 30]

In [18]:
li15 = [10, 20, 30]
print(li15.index(10))
print(li15.index(15))

0

ValueError: ignored

In [19]:
li16 = ['김사과', '오렌지', '바나나', '이메론']
li16.reverse()
print(li16)

['이메론', '바나나', '오렌지', '김사과']

In [21]:
li17 = [10, 40, 30, 100, 90, 50]
li17.sort()
print(li17)
li17.sort(reverse=True)
print(li17)

li18 = ['Apple', 'apple', 'orange', 'banana', 'melon']
li18.sort() # 문자의 경우 아스키코드, 유니코드, UTF-8의 표를 참조하여 이 순서로 배열을 해준다.
print(li18)

li19 = ['김사과', '오렌지', '반하나', '이메론', '배애리']
li19.sort()
print(li19)

[10, 30, 40, 50, 90, 100]
[100, 90, 50, 40, 30, 10]
['Apple', 'apple', 'banana', 'melon', 'orange']
['김사과', '반하나', '배애리', '오렌지', '이메론']

In [22]:
li19 = [10, 20, 30, 40, 50, 20, 40, 30, 20]
print(li19.count(20))
print(li19.count(0))

3
0

In [24]:
li20 = [1, 2, 3]
li20.extend([40, 50])
print(li20)

li21 = [1, 2, 3]
li21 += [40, 50]
print(li21)

[1, 2, 3, 40, 50]
[1, 2, 3, 40, 50]

## len()
* 요소의 갯수 반환 (파이썬 표준 함수)

In [25]:
print(len(li21))

5