<a href="https://colab.research.google.com/github/JunYoung07/Python_AI_Project/blob/main/2_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 배열(Array)

* 데이터를 나열하고 각 데이터를 인덱스에 대응하도록 구성한 자료구조
* 파이썬 리스트 타입은 배열 기능을 제공함
* 같은 종류의 데이터를 순차적으로 저장

### 1-1. 배열이 필요한 이유

* **같은 종류의 데이터**를 효율적으로 관리하기 위해 사용
* 같은 종류의 데이터를 순차적으로 저장
* 빠른 접근이 가능(인덱스 번호로 접근 시)

### 1-2. 배열의 단점

* 데이터의 추가/삭제가 어려움
* 미리 최대 길이를 설정해야 함

In [ ]:
# 1차원 배열
arr_list = [1, 2, 3, 4, 5]  # 크기 지정, 같은 데이터
arr_list

[1, 2, 3, 4, 5]

In [ ]:
# 2차원 배열
arr_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
arr_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

||열1|열2|열3|
|---|---|---|---|
|행1|1|2|3|
|행2|4|5|6|
|행3|7|8|9|

In [ ]:
# arr_list에서 9 8 7로 출력
print(arr_list[-1][::-1])
print(arr_list[-1][-1], end=' ')
print(arr_list[-1][-2], end=' ')
print(arr_list[-1][-3], end=' ')

[9, 8, 7]
9 8 7

### 문제
아래 ```dataset```배열에서 전체 이름안에 'M'이 몇 번 나왔는지 빈도수를 출력하는 프로그램을 만들어보자
```
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']
```

In [ ]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

count = 0
for data in dataset:
    for k in data:
        if k == 'M':
            count += 1

print('"M"의 갯수:',count)

"M"의 갯수: 38

In [ ]:
count = 0
for data in dataset:
    for k in range(len(data)):
        if data[k] == 'M':
            count += 1
print(count)

38